@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Open+Sans&family=Pacifico&display=swap');

body {
    background-color: #abb3b0;
    display: flex;
    color: #d8e4ff;
    flex-direction: column;
    margin: 0;
    align-items: center;
}
#menu {
    width: 100%;
    padding: 5px;
    background-color: #293336;
    display: inline-flex;
    color: #d8e4ff;
    height: 100px;

}
#nombre {
    text-align: center;
    margin-left: 420px;
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: rgb(165, 42, 42);
}
#logo {
    display: inline-block;
    width: 95px;
    padding: px;
    height:95px ;
}
#login{
    margin-left: 280px;
    margin-top: 30px;
    display: block;
    height: 30px;
    width: 75px;
    background-color: rgb(135, 135, 245);
    color: #d8e4ff;
}
#register{
    margin-left: 10px;
    margin-top: 30px;
    display: block;
    height: 30px;
    width: 75px;
    background-color: rgb(135, 135, 245);
    color: #d8e4ff;
}
#logout{
    margin-left: 315px;
    margin-top: 30px;
    display: block;
    height: 30px;
    width: 75px;
    background-color: rgb(135, 135, 245);
    color: #d8e4ff;
}
#perfil{
    margin-left: 10px;
    margin-top: 30px;
    display: block;
    height: 30px;
    width: 75px;
    background-color: rgb(135, 135, 245);
    color: #d8e4ff;
}
#jugar{
    margin-left: 10px;
    margin-top: 30px;
    display: block;
    height: 30px;
    width: 75px;
    background-color: rgb(135, 135, 245);
    color: #d8e4ff;
}
#form {
    display: block;
    text-align: center;
    border: #293336;
}
#inicio {
    color: rgba(248, 243, 243, 0.945);
    background-image: url(imagenes/2bola\ discoteca.jpg);
    height: 185px;
    width: 75%;
    /* margin-top: 100px; */
    background-position: center;
    background-repeat: no-repeat;
}
p {
    font-size: 25px;
    text-align: center;
    color: black;
}
h3 {
    font-size: 50px;
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#preguntaPropuesta{
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(22, 21, 21);
    font-size: 24px;
    margin: 20px;

}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
}

#mensaje {
    font-size: 18px;
    margin-top: 20px;
}

#registro {
    display: block;
    text-align: center;
}


h2{
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(165, 42, 42);
    font-size: 30px;
}
:root{
    --correcteColor:#2ecc71;
    --errorColor:#e74c3c;
}


*{
    box-sizing: border-box;
}
.contenidor{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
    width: 400px;
}

h2{
    text-align: center;
    margin: 0 0 20px;
}

.form{
    padding: 15px 30px;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.form-control label{
    color: rgb(165, 42, 42);
    display: block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.form-control input:focus{
    outline: 0;
    border-color: #777;
}

.form-control.correcte input{
    border-color: var(--correcteColor);
}

.form-control.error input{
    border-color: var(--errorColor);
}

.form-control small{
    color: var(--errorColor);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form button{
    cursor: pointer;
    color: #fff;
    background-color: rgb(137, 137, 245);
    border: 2px solid #3498db;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    
}
#textoinicio{
    font-size: 10px;
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#pruebas{
    width: 100%;
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-around;
}
#prueba1{
    width: 100px;
    height: 100px;
    background-image: url(imagenes/prueba1.jpg);
    background-position: center;
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
#prueba2{
    width: 100px;
    height: 100px;
    background-image: url(imagenes/prueba2.jpg);
    background-position: center;
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}
#mensaje{
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#btnIzquierdo{
    background-color: aqua;
    align-self: left;
}
#btnDerecho{
    background-color: aqua;
    align-self: right;
}
#pista {
    width: 100%;
    /* padding: 5px; */
   /* //background-color: #2d3b3f; */
    display: inline-flex;
    color: #d8e4ff;
    height: 50px;
    margin-left: 5%;
    margin-top: 4.5%;
    margin-bottom: 5px;

}
#pistaq{
    background-color: #09f314;
    color:#0f0f0f;
    width: 100px;
    height: 40px;
    font-size: medium;
  }
.letra{
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 40px;
    width: 40px;
    margin: 5px;
    padding: 15px;
    background-color: rgb(101, 238, 238);
}
.letra.acertada{
    background-color: rgb(62, 218, 14);
  }
  
  .letra.fallada{
    background-color: #fa0909;
  }
  
  .letra:not(.fallada):hover{
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .fila{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #empezar{
    display: flex;
    margin-top: 15px;
    margin-left: 350px;
    margin-bottom: 100px;
    padding: 5px;
    background-color: rgb(83, 83, 129);
  }
  p.text {
    margin: 3px 0;
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  p.text span{
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .countdown {
    width: 152px;
    height: 45px;
    border: 1px solid #111;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    text-align: center;
    background: #222;
    border-radius: 5px;
    padding: 10px 0;
    position: relative;
}

.countdown .tiles {
    position: relative;
    z-index: 1;
}
.countdown .tiles>span {
    display: inline-block;
    width: 30px;
    height: 25px;
    font: bold 20px sans_serif, "Noto Sans";
    text-align: center;
    color: #111;
    background-color: #ddd;
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin: 0 7px;
    margin-bottom: 15px;
    padding: 1px 0;
    position: relative;
}

#envoltorio-victoria {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
#envoltorio-derrota {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.popup {
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
  }
  
  .popup a{
    background: rgb(233, 222, 224);
    color: white;
    text-decoration: none;
    padding: 6px 10px;
  }
  
  #cerrar-popup {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
  }
  .contenidor-seleccionar{
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px 0;
  }
  
  
  .contenidor{
    margin-bottom: 20px;
    perspective: 1000px;
  }
  
  select{
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(70, 231, 231);
  }
  option{
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  
  #palabra{
    width:400px;
    height: 55px;
    background-color: #eb7d7d;
    padding: 10px;
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
  }
  .categoria{
    color: rgb(165, 42, 42);
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  }
   #body-quizz{
    background-image: url(imagenes/colage.png);
    background-position: center;
  } 
  #body-perfil{
    background-image: url(imagenes/colage.png);
    background-position: center;
  }
  .contenedor{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.3);
    width: 600px;
    padding: 20px;
    text-align: center;
  }
  #mensajitoInicio{
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    margin-top: 1%;
  }
  #mensajitoInicio2{
    margin-top: 0%;
    font-family: 'Creepster', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
  }
  .
  
  
